#top1{
    position: sticky;
    top: 0;
    z-index: 9900;
  }
  .app:hover{
    color: gray;
    cursor: pointer;
  }
  
  /* impact  */
  
   #im{
    position: sticky;
    top: 15px;
    z-index: 99;
  }
  .nav-link:hover{
    color: white;
   }
  
  /* Welcome to impact */
  
  #welcome{
      padding: 100px 0px 0px;
      padding-bottom: 80px;
  }
  .box-container{
      position: relative;
      margin-top: -100px;
    }
    .wel{
       height: 600px;
       z-index: 2;
    }
    @media screen and (max-width:576px){
      .wel{
        height: 2110px;
      }
      .box-container{
        position: relative;
        margin-top: -1330px;
      }
    } 
    #get{
      font-size: 20px;
      color: white;
      border-radius: 30px;
      height: 50px;  
      width: 150px;
      border-color: white;
      background-color:rgb(0,131,116);
    }
    #get:hover{
      border-color: white;
      opacity: 0.5;
      cursor: pointer;
    }
   #watch{
      font-size: 20px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
    .wat{
      text-decoration: none;
      color: white;
    }
    .wat:hover{
      opacity: 0.8;
      cursor: pointer;
    }
  
    /* box */
   
     #box{
      border: 5px solid rgb(0,118,104);
      height: 300px;
      width: 290px;
      border-radius: 20px;
      background-color: rgb(0,118,104);
      text-align: center;
      color: white;
      margin-bottom: 20px;
      padding: 50px;
      font-size: 30px;
      font-weight: bold;
      z-index: 1;
    }
    #box:hover{
      opacity: 0.8;
      cursor: pointer;
    }
  
  /* About us */
  
    ul{
      list-style-type: none;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 40px;
    }
    #img3{
      border-radius: 30px;
      position: absolute;
      z-index: 1;
    }
    #play{
      align-items: center;
      position:absolute;
      padding-left: 50px;
      z-index: 2;
      margin-top: 210px;
      margin-left: 230px;
      color: rgb(0,118,104);
      font-size: 60px;
  }
  @media screen and (max-width: 576px){
    #play{
      color: rgb(0,118,104);
      margin-top: 100px;
      margin-left: 95px;
      font-size: 40px;
      z-index: 2;
     }
  }
  
  /* marquee */
  
    #mar1{
      padding-left: 100px;
    }
    @media screen and (max-width: 576px){
     #mar1{
      margin-top: 180px;
     }
    }
  
    /* happy clients  */
    
  #logo1 i{
      color: rgb(0,118,104);
      font-size: 50px;
    }
  
    /* call to action */
  
  .img5{
      border-radius: 20px;
      background-size: cover;
      filter: brightness(60%);
      background-attachment: fixed;
      line-height: 100px;
      height: 450px;
      }
     #img7{
       padding: 20px;
       margin-top: 100px;
    } 
    #img7 i{
      padding-left: -20px;
      position: absolute;
      color: rgb(51, 215, 196);
      font-size: xxx-large;
      z-index: 2; 
      border-radius: 50%;
      margin-top: 20px;
  }
  .play1{
    padding-right: 60px;
    padding-bottom: 30px;
  }
  #img7 h3{
    color: white;
    padding-top: 100px;
    background-color: transparent;
  }
  .call1{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .call2{
      border: 4px solid white;
      color: white;
      padding-top: 50px;
      font-size: 20px;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
      text-decoration: none;
    }
    .call2:hover{
      background-color: rgb(0,118,104);
      border-color: rgb(0,118,104);
      cursor: pointer;
    }
  
   /* Our services */
  
   #b1{
    border: 5px solid white;
    box-shadow: 10px 10px 25px grey;
    height: 330px;
    width: 340px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
   }
   #b1:hover{
    color: rgb(0,118,104);
   }
  
  /* Testimonails */
  
   .test2{
    background-color: beige;
    box-shadow: 10px 10px 15px 5px darkgray;
    
    }
    .card-img-top{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    padding: 20px;
    }
   .star{
      color: rgb(255,193,7);
    }
   
   /* Portfolio */
  
  #smallnav{
    color: black;
    font-weight: bold;
    padding-left: 5px;
  }
  .nav-item{
    font-size: 15px;
  }
  .img-top{
    transition: transform .2s;
    width: 398px;
   }
   .bo{
    width: 330px;
   }
   .img-top:hover{
      cursor: pointer;
      transform: scale(1.1);
   }
   /* Team */
   
   #facebook:hover{
      color:rgb(0,118,104);
      cursor: pointer;
   }
   .or{
    padding: 20px;
   }
   .facebookkk{
     padding-left: 40px;
     margin-top: 10px;
   }
   /* pricing */
   
   #border1{
    border: 3px solid beige;
    height: 800px;
    width: 355px;
    padding-top: 40px;
    box-shadow: 10px 10px 15px darkgray;
    border-radius: 20px;
    margin-top: 90px;
   }
   @media screen and (min-width:576px){
    #border1{
      margin-left: 50px;
    }
   }
  #cube1{
    font-size: 50px;
    height: 25px;
    width: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    margin-left: 130px;
    background-color:  rgb(0,118,104);
  }
  .cube2{
    background-color: rgb(0,131,116);
    height: 20px;
    width: 20px;
  }
   #butt{
    margin-left: 100px;
    margin-top: 50px;
    background-color: white;
    color: black;
    border-radius: 40px;
   }
   #butt:hover{
      background-color: rgb(0,118,104);
   }
   #border2{
    border: 5px solid beige;
    height: 900px;
    width: 360px;
    background-color: white;
    border-color: rgb(0,118,104);
    box-shadow: 10px 10px 15px darkgray;
    border-radius: 20px;
   }  
   #border3{
    border: 3px solid beige;
    height: 800px;
    width: 355px;
    background-color: white;
    padding-top: 40px;
    box-shadow: 10px 10px 15px darkgray;
    border-radius: 20px;
    margin-top: 90px;
   }
  /* Questions */
  
   .accordion-button:not(.collapsed){
    background-color: white;
    padding: 2px;
    }
   .num1{
    font-size: 23px;
   }
   .num1:hover{
     color: rgb(0,118,104);
   }
   .accordion-item{
    box-shadow: 10px 10px 15px darkgray;
    border: none;
   }
  
   /* blog */
  
   #blog1{
    background-color: white;
    box-shadow: 10px 10px 25px 5px darkgray;
    border-radius: 20px;
    height: 400px;
    width: 330px;
   }
   #blog2{
     font-weight: bold; 
     padding-left: 20px;
     font-size: 20px;
     line-height: normal;
     text-align: justify;
   }
   #blog2:hover{
    color: rgb(0,118,104);
   }
   .marie{
      font-weight: bold;
      padding-left: 110px;
      font-size: 18px;
      margin-top: -50px;
   }
   .marie1{
    padding-left: 110px;
    font-size: 15px;
   }
   @media screen and (max-width: 576px){
  .marie1{
      padding-right: 50px;
    }
  } 
   .blogimg{
    width: 310px;
    height: 200px;
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
  }
  /* contact */
   .addborder{
    height: 600px;
    width: 350px;
    display: grid;
    background-color: rgb(0,118,104); 
    z-index: 1;
   }
   .add1{
    background-color: rgb(26,144,130);
    height: 100px;
    width: 290px;
    z-index: 2;
    margin-top: 20px;
    margin-left: 30px;
    }
    #adtext{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: -70px;
    padding-left: 80px;
    }
  #street{
    font-size: 15px;
    color: white;
    margin-left: 80px;
    margin-top: -15px;
    text-align: justify;
   }
   #adtext1{
    margin-top: -60px;
    color: white;
    font-weight: bold;
    margin-right: 60px;
    font-size: 20px;
    padding-left: 80px;
   }
  #adtext2{
    margin-top: -60px;
    margin-right: 55px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    padding-left: 80px;
  }
  #adtext3{
    margin-top: -55px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 90px;
  }
  /* layout */
  
  #send{
    width: 200px;
    height: 50px;
    margin-left: 350px;
    margin-top: 50px;
    background-color:  rgb(26,144,130);
    border-color: rgb(26,144,130); 
    font-size: 20px;
    border-radius: 20px;
  }
  @media screen and (max-width: 576px){
    #send{
      margin-left: 90px;
    }
  }
  .layout{
    margin-top: 50px;
  }
  #youname{
    padding: 20px;
  }
  
  /* Footer */
  
  #footer1 p{
    color: white;
    font-size: 14px;
  }
  #footer1 h4{
    color: white;
    margin-top: 10px;
  }
  #footer1 a{
    color: white;
    text-decoration: none;
  }
  #footer3{
    text-align: center;
    font-size: 30px;
  }
  #footer3 p{
    font-size: 18px;
  }
  .footer4 p{
    font-size: 18px;
  }
  .fouricon{
    color: white;
    font-size: 35px;
    padding-left: 70px;
  } 
  